<template>
    <div class="home">
        <h2 class="text" v-if="username">hello {{username}}</h2>
        <h2 class="text" v-if="!username">You are not logged in</h2>
    </div>
</template>

<script>
export default {
    name: 'HomePage',
    props:{
        username:{
            type:String,
            default:null,
        }
    }
   
}
</script>

<style>
.home{
    display:flex;
    justify-content: center;
    margin-top:250px;
}
</style>