<template>
  <div class="form-login">
  <div class="login">
    <form @submit.prevent="handleSubmit">
      <h3 class="title">Register</h3>
      <div class="form-group">
        <label>UserName</label>
        <input type="text" v-model="userName" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" v-model="password" class="form-control">
      </div>
      <button class="btn-submit">Sign up</button>
    </form>
  </div>
</div>
</template>

<script>
import axios from 'axios'
export default {
    name:"RegisterPage",
    data(){
        return{
            userName:"",
            password:"",
        }
    },
    methods:{
        async handleSubmit(){
            try {
                const data={
                    username:this.userName,
                    password:this.password,
                }
                await axios.post('http://localhost:3001/register',data);
                this.$router.push('/login')
            } catch (error) {
                console.log(error);
            }
        }
    }
}
</script>

<style scoped>
.form-login{
  margin-top:100px;
}
.login{
  width:35%;
  padding:25px 20px;
  border-radius: 15px;
  background-color: cornflowerblue;
  margin:auto;
}
.title{
  font-weight:600;
  text-align: center;
}
.form-control{
  margin-top:10px;
}
label{
  margin-top:10px;
  font-weight:550;
}
.btn-submit{
  width:100%;
  border:none;
  background-color:greenyellow;
  border-radius:5px;
  padding:5px 0px;
  margin:20px 0px;
}
</style>