<template>
  <div class="nav">
    <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><router-link to="/" class="nav-link link-dark px-2 active" aria-current="page">Home</router-link></li>
      </ul>
      <ul class="nav" v-if="!username">
        <li class="nav-item"><router-link to="/login" class="nav-link link-dark px-2">Login</router-link></li>
        <li class="nav-item"><router-link to="/register" class="nav-link link-dark px-2">Sign up</router-link></li>
      </ul>
      <ul class="nav" v-if="username">
        <li class="nav-item"><a href="/" @click="handleClick" class="nav-link link-dark px-2">Logout</a></li>
      </ul>
    </div>
  </nav>
  </div>
</template>
<script>
export default {
  name: "NavHeader",
  props:{
    username:{
      type:String,
      default:null,
    }
  },
  methods:{
    handleClick(){
      localStorage.removeItem('token');
      this.$router.push('/');
    }
  }
};
</script>

<style scoped>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.border-bottom{
  width:100%;
}
</style>
