<template>
  <div id="app">
    <NavHeader :username="username"></NavHeader>
    <router-view :username="username" @check-data="check"></router-view>
  </div>
</template>

<script>
import axios from 'axios';
import NavHeader from "./components/NavHeader.vue";
export default {
  name: "App",
  data(){
    return{
      user:Array,
      username:null,
    }
  },
  components: {
    NavHeader,
  },
  methods:{
    check(data){
      this.user.forEach(item => {
        if(item.username==data.username){
          this.username=item.username
        }
      });
    }
  },
  async created() {
    const res = await axios.get("http://localhost:3001/user", {
      headers: {
        Authorization: "Bearer" + localStorage.getItem("token"),
      },
    });
    this.user=res.data;
      console.log(this.user);
  },
};
</script>
<style>
#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
